@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Azeret Mono, serif;
}

/* shared css */
.lg-color1{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.lg-color2{
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.lg-color3{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.lg-color4{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.lg-color5{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* nav styles start*/
nav{
    display: flex;
    justify-content: space-between;
}
nav>h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    margin: 47px 0px 47px 150px;
}
nav button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    margin: 38px 166px 35px 0px;
    padding: 17px 24px;
}
nav>button>a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* nav styles end */

/* banner styles start */
.banner-container{
    display: flex;
    justify-content: center;
    
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 221px 44px 221px;

}
.banner img{
    width: 240.28px;
    height: 240px;
}
.banner h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin: 32px 73px 0px 73px;
    padding: 0;
    margin: 0;
}
.banner>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 73px 32px 73px;
    opacity: 0.7;

}
.banner>button{
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.banner>button>a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}
.bg-header{
    width: 100%;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* banner styles end */

/* why-web-dev styles start */
#why-web-dev-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 74px 150px 74px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.why-web-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 97px;
}
.why-web-dev-content{
    margin: 0px 47px;
}
.why-web-dev-content>h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.why-web-dev-content>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}
.content{
   width: 100%;
}
.content-info{
    display: flex;
    justify-content: space-between;
    margin: 48px;
}
.content-description{
    margin: 2px 0px;
}
.content-description>h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0px 87px 16px 0px;
}
.content-description>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 0px 9px 32px 0px;
}
.content-description>button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    margin: 0px;
    padding: 12px 20px;
}
.content-description>button>a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/* why-web-dev styles end*/


/* my-inspiration styles start */
#inspiration-container{
    margin: 0px 150px 149px 150px;
}
.inspiration-title-description{
    margin: 0px 144px 48px 144px;
}
.inspiration-title-description>h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-title-description>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 0px 9px 32px 0px;
}
.video-bg{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
.video-content{
    margin: 32px;
}
.main-video{
    border-radius: 16px;
}
/* my-inspiration styles end */


/* current-target styles start */
.current-target-container{
    margin: 0px 150px 0px 150px;
}
.current-target-title-description{
    margin: 0px 144px 48px 144px;
}
.current-target-title-description>h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.current-target-title-description>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 0px 9px 32px 0px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.skills{
    width: 30%;
}
.skill{
    margin: 40px;
}
.skill>img{
    margin-bottom: 24px;
}
.skill>h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
}
.skill>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.skill>a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
/* current-target styles end */


/* support section styles start */
.support-container{
    margin: 41px 150px 79px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}
.support-box{
    margin: 64px 48px;
}
.support-title-description{
    margin: 0px 157px 24px 157px;
}
.support-title-description>h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.support-title-description>p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}
.bg-support{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
}
.input-submit-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
#feedback{
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 40%;
    margin-right: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
#submit{
    margin-right: 316px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    width: 12%;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/* support section styles end */


/* footer styles  start*/
footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    border: 1px solid rgb(255, 255, 255);
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 150px;
}
.footer-info>ul{
    display: flex;
    gap: 24px;
    list-style: none;
}
/* footer styles  end*/
